@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.transport2 {
    color:red;
}

body{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/1067219618379.560dddfb8c487.png");
    background-size:cover;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
}
h2{
    color:yellow;
}
.transport{
    width:50%;
}
