@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background-image: url("http://i.dailymail.co.uk/i/pix/2013/08/22/article-0-1B6999BD000005DC-732_634x427.jpg");
    background-size: cover;
    color:purple;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
}
#name1 {
    margin:10px;
}
#name2{
    margin:10px;
}
#location{
    margin:10px;
}
#vacation{
    margin:10px;
}
#time1{
    margin:10px;
}
#time2{
    margin:10px;
}
#email{
    margin:10px;
}