@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background-image: url("http://cache.gawkerassets.com/assets/images/8/2011/02/spaceelevatornice.jpg");
    background-size:cover;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
}
#name1 {
    margin:10px;
}
#name2{
    margin:10px;
}
#location{
    margin:10px;
}
#vacation{
    margin:10px;
}
#time1{
    margin:10px;
}
#time2{
    margin:10px;
}
#email{
    margin:10px;
}
